html, 
body {
    height: 100%;
}

#root { 
	height: 100%;
	
}

* {
	margin: 0;
	font-weight: 100;
	letter-spacing: 2px;
	font-family: Roboto, sans-serif;
}

.bg_primary-color {
  background-color: #FFFFFF;
}
.primary-color {
  background-color: #FFFFFF;
}
.bg_secondary-color {
  background-color: #293241;
}
.secondary-color {
  color: #293241;
}
.custom-button.btn {
  background-color: #293241;
  color: #FFF;
  border: none;
}
.custom-button.btn:hover {
  color: #FFF !important;
  border: none;
}

/* MY STUFF */

.main-wrapper {
	width: 100%;
  display: flex;
  flex-direction: row;
	justify-content: flex-start;
}

.left-side {

}

.right-side {
	flex-shrink: 1;
}

.user-info-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-progress-wrapper {
	display: flex;
	flex-direction: column;
	width: 700px;
	text-align: center;
	margin-bottom: 50px;
}

.section-title {
	/* font-weight: 800; */
	margin-bottom: 20px;
	font-size: 30px;
	text-align: center;
}

.card-progress-bar-wrapper {
  display: flex;
  flex-direction: row;
	height: 30px;
	width: 100%;
	border: 1px #222 solid;
}

.filler {
	background-color: #ff0000;
}

.progress-text-wrapper {
	margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.collection-section-wrapper {

}

.collection-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	justify-content: center;
}

.card-wrapper {
	margin: 10px;
}

.card {
	width: 300px;
}

.card-charges {
	margin-top: 10px;
	text-align: center;
}